@CHARSET "UTF-8";
/* 4may 04 */

/* sets size to one smaller for IE5.0 */
div, p, td, th, input, ul, ol, li, select, option, h3, h4, h5, h6, div.popcontentformshelp h2
{
	voice-family: "\"}\"";
	voice-family: inherit;
}
h2.nodetitle{clear:both;color:#006500;background:#fff center left;border-bottom:1px solid #cccccc;margin:3px 0;padding:5px 15px;}

/* some browsers miss style following, so add a pointless one */
p.redundant
{
	color: #333333;
}

/* things with smaller text */
div.selectnav td, div.selectnav select, div.selectnav option, td.breadcrumb, .smalltext, td.breadcrumbred, table.popgrey th, table.popgrey td, table.popgrey p, .smalltextdarkgrey
{
	voice-family: "\"}\"";
	voice-family: inherit;
}

p.redundant
{
	color: #333333;
}

h1, h1 p, h2, h2 p
{
	font-size: medium;
}

.right
{
	float: right;
}

.left
{
	float: left;
	clear: none;
	margin-right: 4px;
	padding-right: 4px;
	width: 1%; /* hide from IEMac \*/
	width: auto; /* end hide */
}

/* fix for lists & left floated div in General, GeneralSummary, CoBrandedSitePopup and SettlementPackPopup templates */
td.bodycontent ul.floatlist
{
	list-style-position: inside;
}

td.popguidetext ul.floatlist
{
	list-style-position: inside;
}
td.bodycontentl ul.floatlist
{
	list-style-position: inside;
}
/* end fix */

input
{
	font-size: 100%;
}
td.breadcrumb
{
	background-image: url(/images/brand/bg/bg_breadcrumb.gif);
	background-repeat: repeat-y;
	padding: 2px 0 2px 80px;
}
td.breadcrumbred
{
	background-image: url(/images/brand/bg/red_breadcrumb.gif);
	background-repeat: repeat-y;
	padding: 2px 0 2px 80px;
}

/* left and rightnav areas */
div.linkblock h2, div.hotlinkblock h2, td.rightnav h2
{
	margin: 0 0 4px;
	padding: 0;
}
div.linkblock h2, td.rightnav h2
{
	background-image: url(/images/brand/bg/rightlinks.gif);
	background-repeat: no-repeat;
	padding: 0 0 0 27px;
}
div.hotlinkblock h3, div.hotlinkblock h4, div.hotlinkblock h5, div.hotlinkblock h6
{
	margin-left: 8px;
}

/* sitenav select */
div.selectnav select
{
	color: #000000;
	border: 1px solid #999999;
}

/* search */
td.searchpanel
{
	text-align: left;
}
td.searchpanel input, input.searchbox
{
	border: 1px solid #999999;
}
td.searchpanel input
{
	margin-right: 4px;
}
td.searchpanel select
{
	width: 154px;
}
input.searchgo
{
	padding-top: 1px;
}

/* *********************************** */
/* leftnav - lists with arrow bullets */
td.leftnav ul
{
	list-style-type: none;
	margin: 4px 8px 8px 4px;
}
td.leftnav ul.inner
{
	list-style-type: none;
	margin: 0 0 0 2px;
}
td.leftnav ul.innermost
{
	list-style-type: none;
	margin: 0 0 0 2px;
}
td.leftnav li.normalb
{
	/*background-image: url(/images/brand/bullets/blue.gif);
	background-repeat: no-repeat;*/
	list-style-image: none !important;
	background-position: 0 0.5em;
	padding: 0 0 3px 8px;
}
td.leftnav li.currentb
{
	/*background-image: url(/images/brand/bullets/black.gif);
	background-repeat: no-repeat;*/
	list-style-image: none !important;
	background-position: 0 0.5em;
	padding: 0 0 3px 8px;
}
td.leftnav li.normalnb
{
/*	background-image: none;*/
list-style-image: none !important;
	padding: 0 0 3px 8px;
}
td.leftnav li.currentnb
{
/*	background-image: none;*/
list-style-image: none !important;
	padding: 0 0 3px 8px;
}
/* new style to increase spacing between bullet points - Paul Cook email 25/11/2004 */
li
{
	padding: 0px 0 3px 0xp;/*8px;*/
}

/* extra row of links at top of personalised homepage */
td.persnav
{
	background-image: url(/images/brand/bg/bg_personalised_topbar.gif);
	background-repeat: repeat-y;
	padding: 2px 16px 2px 175px;
	font-size: 70%;
}
td.genericpersnav
{
	font-size: 70%;
}
td.persnav img, td.genericpersnav img
{
	padding: 0 4px;
}

/* 28june online help link in breadcrumb line */
td.breadclose, div.breadclose
{
	line-height: 1em;
}
td.breadclose,div.breadclose
{
	font-weight:bold;
	font-size:medium;
	voice-family: "\"}\"";
	voice-family: inherit;

}
td.breadclose img
{
	display: inline;
	vertical-align: middle;
}
td.breadclose a
{
	font-weight: bold;
}

/* 24 august dark grey colour for page last updated text */
.smalltextdarkgrey
{
	font-size: 85%;
	color: #333333;
	float: right;
}

/* new table routine css - styles replicated from import_cssm.css */
/* import_cssm.css not referenced as there is a conflict with import.css in PWS */
/* required for Office & Fees Calculator */
table.sitetable
{
	background-image: url(/images/brand/forms/grey_stripe.gif);
	background-repeat: repeat-y;
}
table.sitetable th, table.sitetable td.title
{
	border-bottom: 1px solid white;
	padding-top: 4px;
	padding-bottom: 4px;
}
table.sitetable td
{
	padding-top: 4px;
	padding-bottom: 4px;
}
table.sitetable td p
{
	padding: 4px 0;
}
#toolbarButtons
{
	background-image: url(/Images/innerNav/background.gif);
	background-repeat: repeat-x;
	background-position: top right;
}
#toolbarButtons ul
{
	list-style: none;
	padding: 0;
	margin: 0;
	height: 33px;
	padding-left: 20px;
	background-image: url(/Images/innerNav/navbar_right.gif);
	background-position: top right;
	background-repeat: no-repeat;
}
#toolbarButtons ul li
{
	float: left;
	display: block;
	margin-left: -10px;
	padding-bottom: 0;
}
#toolbarButtons ul li a
{
	border-bottom: 4px solid #0099cc;
	display: block;
}
#toolbarButtons ul li a:hover
{
	border-bottom: 4px solid #993300;
}
#toolbarButtons ul li a img
{
	border: none;
}
h2.striped img
{
	margin: -3px 0 -5px;
}
div.linkblock h2.striped, div.online-login h2.striped, div.hotlinkblock h2.striped, td.rightnav h2.striped
{
	background-image: url(/Images/brand/rightlinks.gif);
	background-position: 0 50%;
	background-repeat: repeat-y;
	background-color: #3399cc;
	text-transform: uppercase;
	color: #ffffff;
	padding-left: 25px;
	padding-top: 3px;
	padding-bottom: 2px;
	font-weight: normal;
	font-size: small;
	text-align: left;
}
div.online-login h2.striped a, div.online-login h2.striped a:hover, div.online-login h2.striped a:visited
{
	color: #fff;
	text-decoration: none;
}
div.search p
{
	margin-left: 23px;
	margin-bottom: 5px;
	color: black;
}
div.hotlinkblock h2.hotLink
{
    background: none repeat scroll 0 0 transparent;
    border-left: 1px solid #969696;
    font-size: 90%;
    margin: 0;
    padding: 10px;
}



/***********  Causes Invalid CSS      *******/
/***********  and doesn't work either *******/
/*  BrendanL - 12/12/06  */

/* Remove quotes in FireFox */
q:before, q:after
{
	display: none;
}
/*************************************/

/* New */

#AlreadyInNZLinkLabel a
{
	color: #33ADD6;
	font-size: .7em;
	font-family: verdana, arial;
	font-weight: bold;
	text-decoration: none;
}


