@CHARSET "UTF-8";
/* 4may 04 */

/* personal profile popup */

td.greyformhead {
border-bottom: 1px solid white;
padding-left: 20px;
}

td.greyformhead h2 {
font-size: x-small;
}

td.greyformlabel, td.greyformplainleft {
background-image: url(/images/brand/forms/grey_stripe.gif);
background-repeat: repeat-y;
padding-left: 20px;
}

td.greyformlabel {
font-size: x-small;
}

/* end personal profile */

/* occupation list & suitcase popups */

table.greydata th {
background-color: #3399cc;
font-size: x-small;
color: #ffffff;
}

div.greydatadiv table.greydata th a {
color: #ffffff;
}

table.greydata td {
font-size: x-small;
}

/* end occupation list & suitcase */

/* 3MQ new styles */

td.progressbar img {
border-right: 1px solid white;
}

/* end 3MQ new styles */

/* points indicator - reusing styles - adjusted here for points context  */

div.popcontentpoints table.greydata th, div.popcontentpoints table.greydata td {
font-size: x-small;
voice-family: "\"}\"";
voice-family: inherit;
font-size: small;
}

/* some browsers miss style following, so add a pointless one */

p.redundant {
color: #333333;
}

div.popcontentpoints table.greydata th {
text-align: center;
}

div.popcontentpoints table.greydata th.left {
text-align: left;
}

div.popcontentpoints table.greydata {
margin-top: 8px;
}

/* OfficeAndFees Results page styles */

div.feedatadiv table.feedata th a {
color: #ffffff;
}

div.feedatadiv table.feedata td.feetitle{
color: #ffffff;
background-color: #3399cc;
padding:4px 0px 4px 20px;
font-size: small;
font-weight: bold;
}

table.feedata th, table.feedata td  {
voice-family: "\"}\"";
voice-family: inherit;
font-size: small;
padding-left: 10px;
}

table.feedata th.left {
text-align: left;
}

table.feedata  {
margin-top: 8px;
width: 94%;
voice-family: "\"}\"";
voice-family: inherit;
width: 100%;
}

table.feedata  {
background-color: #e1e1e1;
}
div.feedatadiv td.sectiondivider {
border-bottom: 1px solid white;
} 

/* End OfficeAndFees Results page styles */

/*Styles for Customer Profile (Registration project) forms */

div.profiledata table.sitetable td label 
{
	font-size: x-small;
}

div.profiledata table.sitetable td h3 
{
	font-size: smaller;
}
div.profiledata table.sitetable td.title  
{
	font-size: smaller;
}

/*End Styles for Customer Profile (Registration project) forms*/

