@CHARSET "UTF-8";
/* 4may 04 */

/* ************************************************ */
/* extra row of links in blue header on nzlife etc */

td.lifenav {
font-size: 70%;
}

td.lifenav img {
padding: 0px 4px;
}


/* *********************************** */
/* popups */

div.popnav, div.popnavwhite {
padding: 12px 0px;
}

div.popnavwhite {
background-color: #ffffff;
}


td.leftnav div.popnav ul, td.leftnav div.popnavwhite ul {
margin: 0px 4px 0px 8px;
padding: 4px 0px; 
}

td.leftnav div.popnav ul li, td.leftnav div.popnavwhite ul li {
padding: 4px 0px 4px 8px;
}


td.popright {
background-image: url(/images/brand/bg/bg_pop_rightbar.gif);
background-repeat: repeat-y;
}

td.popright a {
padding-left: 4px;
}

div.popfloats .fleft, div.popfloatsdark .fleft {
float: left;
clear: none;
}

div.popfloats .fright, div.popfloatsdark .fright {
float: right;
clear: none;
}
