@CHARSET "UTF-8";
/* 21july 04 */

/* ************** */
/* GENERAL SETUP */

body {
width: 100%;
margin: 0px;
padding: 0px;
background-color: #ffffff;
color: #000000;



}

form {
margin: 0px;
}

img {
margin: 0px;
padding: 0px;
border: 0px;
}

.block img {
display: block;
}

.inline img {
display: inline;
}


/* *********************************** */
/* GLOBAL CONTENT STYLES - no classes */

p {
margin: 0px;
}

blockquote {
margin-top: 0px;
}
/*
ul, ol {
margin-top: 0px;
margin-right: 8px;
margin-bottom: 4px;
}*/

/* specify all for NN4 */
div, p, td, th, input, ul, ol, li, select, option {
font-family: verdana, arial, sans-serif;
}
/*
h1, h2, h3, h4, h5, h6 {
    font-family: verdana, arial, sans-serif;
    padding: 4px 0px 2px 0px;
    margin: 0px;
} 

h1, h1 p {
    font-size: 1.6em;
    color: #0099cc;
} 

h2, h2 p {
    font-size: 1.6em;
    color: #006699;
} 

h3, h3 p {
    font-size: 1em;
    color: #003366;
} 

h4, h4 p {
    font-size: 0.9em;
    color: #006699;
} 

h5, h5 p {
    font-size: .8em;
    font-weight: normal;
    color: #333333;
}

h6, h6 p {
    font-size: .8em;
    font-weight: normal;
    color: #666666;
}
*/

a {
text-decoration: underline;
color: #4d4d4d;
}

td.bodycontent a:visited {
color: #993333;
} 


a:hover, td.bodycontent a:hover {
text-decoration: underline;
}

th {
text-align: left;
}


/* column container */
	.colmask {
		position:relative;		/* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
	    clear:both;
        width:990px;			/* width of whole page */
		margin:0 auto;				
		overflow:hidden;		/* This chops off any overhanging divs */
	}
	/* holy grail 3 column settings */
	.holygrail {
	    background:#fff;   	/* Right column background colour */
	}
    .holygrail .colmid {
        float:left;
        width:200%;
        margin-left:-235px; 	/* Width of right column */
        position:relative;
        right:100%;
        background:#fff;    	/* Centre column background colour */
		border-right:1px solid #bbb;
		_border-right: none;
    }
  /*  form#BranchHomepageForm .holygrail .colmid 
    {
	    _margin-left:-750px;
		_border-right:none;
    }*/
    .holygrail .colleft {
        float:left;
        width:100%;
        margin-left:-50%;
        position:relative;
        left:390px;         	/* Left column width + right column width */
        background:#E5F5FA  url(/images/leftNav-bg.png) right repeat-y;    	/* Left column background colour */
        border-right: 1px solid #969696; 
        _margin-left:-990px;
    }
    
     .holygrail .noBackground ,
     .holygrail .noBackground #leftNav {
        background: none !important ;
    }
    
    .holygrail .col1wrap {
        float:left;
	    width:50%;
	    position:relative;
	    right:155px;        	/* Width of left column */
	    padding-bottom:1em; 	/* Centre column bottom padding. Leave it out if it's zero */


	}
	.holygrail .col1 {


        margin: 0 240px 0 170px;     	/* Centre column side padding:
                            	Left padding = left column width + centre column left padding width
                            	Right padding = right column width + centre column right padding width */
        position:relative;
	    left:200%;
	    overflow:hidden;
	}
    .holygrail .col2 {
        float:left;
        float:right;			/* This overrides the float:left above */
        width:155px;        	/* Width of left column content (left column width minus left and right padding) */
        position:relative;
        right:0px;         	/* Width of the left-had side padding on the left column */
    }
    .holygrail .col3 {
		float: right;
		left: 50%;
		margin-right: 0;
		position: relative;
		width: 234px;
    }
    
    .loginColumnWidthOverride .col3
    {
		width: 325px;
    }

	.loginColumnWidthOverride .col1 
	{
		margin: 0 340px 0 170px;
	}

	.loginColumnWidthOverride .colmid
	{
		border-right: none;
	}

/*Main Navigation*/
#leftNav {
	background-color: #e5f5fa;
	width: 155px;
	/*border-right:1px solid #969696;*/
	float:left;
}

#leftNav ul.HomeLevel {

	background-color: #E5F5FA;
	background-image: url(/images/leftNav-bg.png);
	background-repeat: repeat-y;
	background-position: right;
	margin:0;
	padding:0;
	
_float: right;
_display: block;


}

#leftNav ul.HomeLevel li {
 
    border-bottom: 1px solid #969696;
    list-style-type: none !important;
    padding: 4px 5px 4px 10px;
    list-style-image:none !important;
    font-weight:bold;
    line-height: normal;


_display:block;
_clear:both;


}
#leftNav ul.HomeLevel li.currentb a
{
	color: #0099cc;
}
#leftNav ul.HomeLevel li.currentb li a
{
	color: #66666c;
}
#leftNav ul.HomeLevel li a {
    font-size: 95%;  
    text-decoration: none;
}

#leftNav ul.Level1,
#leftNav ul.Level2,
#leftNav ul.Level3
 {
	border:none;
	margin:0px 0px 0px 0px;	
	font-weight:normal;
}

#leftNav ul.Level1 li,
#leftNav ul.Level2 li,
#leftNav ul.Level3 li {
	border: none;
	font-weight:normal;
}
    
#leftNav li.currentb {
	background: url("/images/bulletDown.png") no-repeat scroll 2px 8px transparent;
	font-weight: bold !important;	
}

#leftNav li.currentnb 
{
	font-weight:bold !important;
}

#leftNav li 
{
	background: url("/images/bullet.gif") no-repeat scroll 2px 8px transparent;
}
/*changes to left nav for when it's used inside page content as a sitemap.*/

.sitemap 
{
	width:auto !important;
	background-color: white !important;
}

.sitemap ul
{
	background-color: white !important;
	background: none !important;
	position:relative;
	left: 15px;
}
.sitemap ul li 
{
	border-bottom: none !important;
}
.sitemap .HomeLevel a,
.sitemap .Level1 a 
{
	color: #666 !important;
}
.sitemap .Level2 a 
{
	color: #27a !important;
}
.sitemap span div a 
{
	color: #0099cc !important;
	text-decoration: none !important;
}
.sitemap li a 
{
	text-decoration:none !important;
}

.sitemap li a:hover 
{
 text-decoration:underline !important;	
}
/* ********************************** */
/* CONTENT - specific classes */


th.center {
text-align: center;
}

a.glossarylink, a.glossarylink:hover {
color: #000000;
}

/* links for user tools on personalised pages */
p.usertools {
margin: 8px 0px;
}

/* Special case for the national id number */
h3.nationalidnumberclass {
	display:inline;
}

.newsitemimage {
padding: 6px 12px 6px 0px;
}

.newsitemdate {
font-style: italic;
color: #666666;
}

.repeaterspacing {
padding-bottom: 6px;
}

/* ****************************************************************** */
/* PAGE LAYOUT - input box in header & rightbar  */

td.searchpanel input, input.searchbox {
width: 130px;
}

/* ****************************************************************** */
/* PAGE LAYOUT - extra row of links at top of personalised pages  */

td.persnav, td.genericpersnav {
background-color: #ffffff;
padding: 2px 16px 2px 0px;
text-align: right;
}

td.persnav img, td.genericpersnav img {
display: inline;
}

td.persnav a, td.genericpersnav a {
font-weight: bold;
color: black;
}

/* ************************* */
/* PAGE LAYOUT - breadcrumb */

td.breadcrumb, td.breadclose {
background-color: #006699;
color: #cccccc;
}

/* new for @yourservice link 21june */
td.breadclose {
padding-right: 16px;
}

td.breadcrumbred {
background-color: #993300;
color: #cccccc;
}

td.breadcrumb .white, td.breadcrumbred .white {
color: #ffffff;
}

td.breadcrumb a, td.breadclose a, td.breadcrumbred a {
text-decoration: none;
color: #ffffff;
}

td.breadcrumb a:hover, td.breadclose a:hover, td.breadcrumbred a:hover {
text-decoration: underline;
color: #ffffff;
}


/* ********************************** */
/* PAGE LAYOUT - left and right bars */

td.leftnav a, td.rightnav a {
text-decoration: none;
}

td.leftnav a:hover, td.rightnav a:hover {
text-decoration: underline;
}



























/* create dotted border between blocks */

div.hborder {
height: 1px;
border-bottom: 1px dotted #CCCCCC;
}

td.leftnav div.linkblock h2, td.rightnav h2 {
background-color: #0099cc;
}

div.selectnav, div.search, div.login {
	padding-bottom: 0px;
	padding-top: 8px;
}




div.search 
{
	margin-top: 14px;
}





div.linkblock p {
margin: 0px;
padding: 0px 8px;
}


.fullWidth 
{
	width: 100%;
}


/* ************************************* */
/* PAGE LAYOUT - main body content cell */

td.bodycontent {
border-right: 1px dotted #CCCCCC;
border-left: 1px dotted #CCCCCC;
width: 100%;
}

td.bodycontentl {
border-left: 1px dotted #CCCCCC;
}


/* ************************ */
/* PAGE LAYOUT - right bar */

td.rightnav img {
display: block;
}

td.rightnav h2 img {
display: inline;
}

div.selectnav {
/*color: black;
padding: 8px !important;
text-align: center;*/
} 

div.selectnav select {
width: 182px;
}

div.selectnav p {
text-align: left;
margin: 0px;
padding: 0px 0px 8px 8px;
}

div.loginpanel {
padding: 0px 0px 8px 0px;
width: 192px;
}

/* on rightbar, links under login form */

div.loginlinks {
padding: 4px 0px 0px 8px;
}

div.loginlinks p {
margin: 0px;
padding: 0px 0px 2px 8px;
}

/* on rightbar, logged in homepage */

td.rightnav div.linkblock h3 {
margin: 0px;
padding: 0px;
}



/* ********************* */
/* PAGE LAYOUT - footer */

td.footer, div.footer {
text-align: center;
border-top: 1px dotted #CCCCCC;
padding: 5px 0px;
color: #333333;
}

td.footer a, div.footer a {
text-decoration: none;
color: #333333;
}

td.footer a:hover, div.footer a:hover {
text-decoration: underline;
color: #333333;
}

/* ****************** */
/* MAIN BODY CONTENT */

div.content {
	padding: 14px 25px 8px 20px;
}
div.content.noPadding {
	padding: 0px 0px 0px;
}





span.date {
color: #666666;
font-style: italic;
}

div.textblock {
padding: 0px 0px 8px;
}


/* ****************** */
/* ERROR MESSAGES */

.errormessage, .ErrorMessage, .ErrorMessageSmall, .errormessageblock {
color: #FF0000;
}

.errormessage a, .ErrorMessage a, .ErrorMessageSmall a, .errormessageblock a {
font-weight: bold;
color: #ff0000;
}

.errormessage a:hover, .ErrorMessage a:hover, .ErrorMessageSmall a:hover, .errormessageblock a:hover {
font-weight: bold;
color: #FF0000;
text-decoration: underline;
}

/* ****************** */
/* styles for printable character between previous/next links in popups - 20 July 2004 */

.white {

color: white;

}

.grey {

color: #CCCCCC;

}
tr.grey
{
	color: #CCCCCC;
}
/* ****************** */
/* fix for some browsers to align text with bullet - 9 September 2004 */

li h3 { 
display: inline; 
}

/* new table routine css - styles replicated from style_cssm.css */
/* style_cssm.css not referenced as there is a conflict with style.css in PWS */
/* required for Office & Fees Calculator */

table.sitetable {
background-color: #CCCCCC;
}

table.sitetable th, table.sitetable td.title, table.sitetable tr.title td {
background-color: #3399cc;
color: #ffffff;
font-weight: bold;
text-align: left;
}

table.sitetable th a, table.sitetable td.title a, table.sitetable th a:hover, table.sitetable td.title a:hover {
font-weight: normal;
color: #ffffff;
}


div.content table.sitetable td h3, div.content table.sitetable td a {
color: #003366;
}

table.calcbtn {
width: 94%;
voice-family: "\"}\"";
voice-family: inherit;
width: 100%;
}
 
table.paneltbl {
width: 94%;
voice-family: "\"}\"";
voice-family: inherit;
width: 100%;
}
/* Contact Information styles used in error404.htm and error.htm */

table.contactinfotable {
background-color: #CCCCCC;
width: 70%;
voice-family: "\"}\"";
voice-family: inherit;
}

table.contactinfotable th, table.contactinfotable td.contactinfotitle, table.contactinfotable tr.contactinfotitle td {
background-color: #3399cc;
color: #ffffff;
font-weight: bold;
text-align: left;
}
table.contactinfotable td
{
	padding-left: 8px;
	padding-right: 4px; 
	padding-bottom: 4px; 
	border-bottom: white 1px solid;
}
/* End Contact Information styles */

.search
{
	margin-top: 0px;
	padding-left: 2px;
    padding-right: 7px;
    color: #42b4d9;
    font-size: 12px;
    font-family: verdana, arial;
    font-weight: normal;
}