@CHARSET "UTF-8";
body{
background-image:url(../images/bg3-02.png);
background-repeat:repeat-x;
margin-left: 0px;
margin-top: 0px;
margin-right: 1px;
margin-bottom: 0px;
font-family:Microsoft YaHei;
}
.body-div{
margin-left:10px;

}
h2{
font-family:Microsoft YaHei;
 color:#fff;
  margin: 20px 5px 15px 5px;
}