@charset "utf-8";

* {margin:0px;padding:0px;color: #333;font-size:12px;font-style:normal;}
html,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,caption{
	margin:0;padding:0;outline:0;font-size:12px;font-family:Arial, Helvetica, taho;vertical-align:baseline;background:transparent;}
body{margin:0px auto;font-size:12px; background:url(../images/bg.png) repeat-x left top;background-color:#FFFFFF;}
.body_index{margin:0px auto;font-size:12px; background:url(../images/bg3-01.png) repeat-x left top;background-color:#FFFFFF;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}


.clear {height:0px;clear:both;overflow:hidden;}

.clearfix:after {content:" ";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{ /* IE7 hack */display:inline-block;}
* html .clearfix{ /* IE-mac, IE5, IE6 */
	height:1%;}
.clearfix{display:block;}

.invisible {visibility:hidden;}

.hidden {display: none;}
.right{ float:right;}
.left{ float:left;}
.img-mid{ vertical-align:middle;}
.color-red{ color:#f00;}

a{text-decoration:none;}


ul, li {
	list-style: none;
}
img {
	border:none 0px;
}

select option {
	padding-right:3px;
}

.top{ background:url(../images/top_bg.png) center top; height:38px;}
.top ul{ width:1001px; margin:0px auto; text-align:right; height:38px;}
.top ul table{ margin-top:15px; height:30px;}
.top ul th{ font-weight:100; color:#fff; width:470px;}/*182*/
.top ul th a{ margin:0px 5px; color:#fff; text-decoration:none;}
.top ul td input{ border:1px solid #c7dae9; background:#0e4c7b; width:165px; line-height:19px; height:19px; color:#87a5bd; padding-left:8px;}
.top ul td input.bt{ background:url(../images/search_btn.png) no-repeat left top; border:0px; width:47px; height:21px; line-height:21px;}

.menu{ width:1001px; margin:0px auto; position:static;}
.logo{ margin-top:4px;float:left; margin-right:35px;}
.menu_nav{z-index:9999; position:absolute;right:0px;}
.menu_nav li a.cur{color:#0389E2; font-weight:bold; background:url(../images/curret_bg.jpg) repeat-x top;height:69px;display:block}

.pbox_qihuo {
	font-size:12px;
	line-height:30px;
	margin:0 auto;
	padding-top:15px;
	text-align:left;
	width:960px;
}
.pbox_qihuo ul,ol {
	margin-left:12px;
}
.pbox_qihuo ol li {
	margin-left:12px;
}
.pbox_qihuo ul li{
	margin-left:12px;
	border-bottom:0px;
	list-style-type:disc;
    list-style-position:outside;
	font-size:12px;
	color:#005BA0;
	line-height:22px;
}
.pbox_qihuo ol li{
	border-bottom:0px;
	list-style-type:decimal;
    list-style-position:outside;
	font-size:12px;
	line-height:22px;
}
.pbox_qihuo strong{
	font-weight:bold;
	font-size:14px;
	line-height:30px;
	color:#005BA0;
}

.shijie{  margin:10px 0px 10px 22px;}
.shijie li{ border-bottom:0px; text-align:center; width:144px; margin-right:08px; margin-bottom:10px; float:left; line-height:16px;}
.shijie li img{ width:144px; height:174px;}
.shijie li span{ margin-top:8px; height:10px; overflow:hidden;float:none;}
.shijie li span a{ color:#999;}
.shijie h3{ border-bottom:#96bbd5 1px solid; padding-left:10px;height:35px; line-height:35px; font-size:14px; margin-bottom:10px; margin-right:30px;}

#nav {
  line-height: 24px; list-style-type: none; background:#666;
}
#nav a {
 display: block; width: 85px; text-align:center;overflow:hidden;font-size:13px;
}
#nav a:link {
 color:#666; text-decoration:none; 
}
#nav a:visited {
 color:#666;text-decoration:none;
}
#nav a:hover {
 color:#FFF;text-decoration:none;font-weight:bold;
}
#nav li {
 float: left; width:85px;
background:url(../images/menu_xian.jpg) no-repeat scroll right top transparent;
}
#nav li.h {
height:69px; line-height:69px;
}
#nav li a:hover{
background:url(../images/curret_bg.jpg) repeat-x scroll right top transparent; color:#0d88d8;
}
#nav li ul {
 line-height: 27px; list-style-type: none;text-align:left;
 left: -999em; display:none;width:85px; position: absolute; 
}
#nav li.h ul{left: -999em;}

#nav li ul li{
 float: left; width:85px;
 background: #F6F6F6; 
}
#nav li ul a{
 display: block;text-align:center; padding:0px 2px; width:81px;
}
#nav li ul a:link {
 color:#666; text-decoration:none;
}
#nav li ul a:visited {
 color:#666;text-decoration:none;
}
#nav li ul a:hover {
 color:#F3F3F3;text-decoration:none;font-weight:normal;
 background:#3a6e93;
}
#nav li:hover ul {
 left: auto;
}
#nav li.sfhover ul {
 left: auto;
 display:block;
}
#content {
 clear: left; 
}


.wapper{ background:url(../images/m_left.png) left top no-repeat; width:1280px; margin:0px auto;}
.main{ width:1001px; margin:0px auto;}

.copartner{ margin-top:7px;}
.con_left{float:left;width:665px;}
.flash-news{ margin-bottom:8px;border:0px solid #738ba3;height:341px;}
.flash{ width:319px; float:left; border:0px solid #7f93ab; height:341px; background:url(../images/n_flash_bg.png) no-repeat left top;border:0px solid #a9bbd1;}
.news{ background:url(../images/n_news_bg3.png) no-repeat left top;border:0px solid #a9bbd1; width:336px; float:right; height:341px;margin-top: 2px;}
.news_tit{ /*background:url(../images/new_tit.png) no-repeat left top;*/ height:36px; border-bottom:0px solid #7b8da3; padding-bottom:1px;}
.news_tit li{ /*text-align:center;*/padding-left:15px; line-height:36px; font-weight:bold; float:left;}
.news_tit li a{ /*background:url(../images/new_a.png) no-repeat left top;*/width:130px; float:left; color:#ffffff; font-size:14px;}
.news_tit li a:hover{ /*background:url(../images/new_cur.png) no-repeat left top;*/width:130px; float:left; color:#224155; font-size:14px;}
.news_tit li a.current{ /*background:url(../images/new_cur.png) no-repeat left top;*/width:130px; float:left; color:#224155; font-size:14px;padding-top: 4px;}
.news_con{ /*background:url(../images/news_bg.png) right top;*/ height:100px; overflow:hidden;}
.news_con ul{ margin:5px 11px 11px 15px;}
.news_con li{ line-height:31px; width:308px;}
.news_con li font{margin:0px;color:#204154;}
.nwstyle{font-size:10pt;font-family:黑体;vertical-align:middle;line-height:110%;}
.gtstyle{font-size:10pt;font-family:黑体;vertical-align:middle;line-height:150%;}
.news_con li a{color:#204154;}
.news_con li a:hover{ text-decoration:underline;}
.news_con dl.more{ text-align:right; padding-right:5px;}
.news_con dl.more a{color:#e65f00}

.news_con_1{ /*background:url(../images/n_news_bg2.png) right top;*/ height:160px; overflow:hidden;}
.news_con_1 ul{ margin:5px 11px 11px 15px;}
.news_con_1 li{ line-height:31px; width:308px;}
.news_con_1 li font{margin:0px;color:#204154;}
.news_con_1 li a{color:#204154;}
.news_con_1 li a:hover{ text-decoration:underline;}
.news_con_1 dl.more{ text-align:right; padding-right:5px;}
.news_con_1 dl.more a{color:#e65f00}

.Information{ width:330px; float:right;height:340px; background:url(../images/n_hsworld_bg.png) no-repeat left top;}
.Information h3{ background:url(../images/zx_tit.jpg) left top; height:38px; line-height:38px; text-align:center; font-size:14px; color:#fff; border-top:1px solid #066d98}
.Information h3 a{ color:#fff; font-size:14px;}
.Information ul{ /*border:1px solid #c3c3c5; background:#ffffff;*/padding:1px;}
.Information li{ margin-left:20px;margin-top:9px;margin-right:9px;margin-bottom:2px; line-height:18px;}
.Information li h4{ color:#687a95;}
.Information li dl{ color:#787878;}
.Information li dl a{ color:#787878;}
.Information li dt{ text-align:right;}
.Information li dt a{color:#e46713;}
.picture{display:none;}
.picture li{ float:left; margin-right:6.5px;}
.pict{float:right;height:20px;width:325px;padding-left:11px;padding-top:11px;}
.pict ul li{ float:left; margin-right:2.5px;}

/*bottom*/
.bottom{ color:#888889; /*width:1003px;*/ margin:0px auto;background:#000000;height:75px; }
.bottom dl{ float:left; line-height:20px;padding-top:10px;_padding-top:0px;color:#888889;}
.bottom dt{ float:right;padding-top:10px;_padding-top:0px;color:#888889;}
.bottom select{ border:1px solid #d5d5d5;  width:140px; height:22px; line-height:20px; text-align:left; color:#838383}
*html .bottom select{ border:1px solid #d5d5d5; width:140px; height:22px;text-align:left; color:#838383}

/*鐒︾偣鍥剧墖 澶у浘*/
.left{
	float:left;
	width:670px;
}

.banner{
	width:1001px;
	height:409px;
	position:relative;
	margin:0 auto;
	position:static
}
.banner_tab{
	height:60px;
	position:absolute;
	left: 0px;
	top:419px;	
	background-color:#cacaca;
	width:1001px;
}
.banner_tab ul {
	cursor:pointer;
}
.banner_tab li {
    float: left;
    list-style-type: none;
    text-align: center;
	width:250px;
}
.banner_tab a {
	 width:200px;
	 height:60px;
	 display:block;	 
}
.banner_tab  img{
	border:0px solid #659ab6;
}
.hidecontent {display:none;}
.on{
	 background-position:0px -100px;
}
.on img{
      border:0px solid #0099ff;
}
.out{}

.clear{ clear:both;}

.content{
	margin:0 auto;
	background:url(content_bg.png) repeat-x top;
	border-left:1px solid #bad1de;
	border-right:1px solid #bad1de;
}

.tab_img{ 

 }

.help{
	margin-top:10px;
	width:670px;
}
.help .div_p{
	padding:10px 5px 15px;
	>padding:13px 5px 15px;
}
.help .help_ul{
	padding:10px 0px 30px 30px;
	>padding-top:1px;
}

.help_ul li{
	float:left;
	width:310px;
	height:28px;
	line-height:28px;
	position:relative;
}
.help_ul .img_hot{
	top:8px;
	position:absolute;
}

a.k:link, a.k:visited {
	color:#228ada;
	text-decoration:none;
}
a.k:active,a.k:hover {
	color:#000;
	text-decoration:underline;
}
.right{
	width:230px;
	float:right;
}
/*软件服务创造卓越价值*/
.pbox_qihuo h2.one{background:url(../images/tit1.png) left center no-repeat;  height:33px; line-height:33px; margin:5px auto; padding-left:20px; color:#ff6600}
.pbox_qihuo p.tit{background:url(../images/tit2.png) left center no-repeat; height:33px; line-height:33px; margin:5px auto; padding-left:20px; color:#ff6600; font-weight:bold; font-size:14px;}
.pbox_qihuo p.tit1{background:url(../images/tit1.png) left center no-repeat;  height:33px; line-height:33px; margin:5px auto; padding-left:20px; color:#ff6600;font-weight:bold; font-size:14px;}
.pbox_qihuo p.tit2{background:url(../images/tit3.png) left center no-repeat; height:33px; line-height:33px; margin:5px auto; padding-left:20px; color:#ff6600; font-weight:bold; font-size:14px;}

/***/
.duan-tit{ background:url(../images/duan-bg.png) left top no-repeat; height:111px; line-height:27.5px; width:933px; margin:5px auto; padding:10px; color:#0b2b65;}
.duan-title{ background:url(../images/duan-bg2.png) left top no-repeat; height:144px;line-height:27.5px;  width:933px; margin:5px auto; padding:10px; color:#0b2b65;}
.duan-tit2{ background:url(../images/duan-bg3.png) left top no-repeat; height:83px; line-height:27.5px; width:933px; margin:5px auto; padding:10px; color:#0b2b65;}

/****/
.news_main li a{font-family:宋体, Arial, Helvetica;}
.news_con li a{font-family:宋体, Arial, Helvetica;}

.bottom2{ color:#ffffff; width:1003px; margin:0px auto; }
.bottom2 dl{ float:left; line-height:20px;padding-top:10px;_padding-top:0px;color:#E8E8E8; }
.bottom2 dt{ float:right;padding-top:10px;_padding-top:0px;}
.bottom2 select{ border:1px solid #d5d5d5;  width:140px; height:22px; line-height:20px; text-align:left; color:#838383}
*html .bottom2 select{ border:1px solid #d5d5d5; width:140px; height:22px;text-align:left; color:#838383}

.pbox_khmyd2011 {
	font-size:12px;
	margin:0 auto;
	padding-top:15px;
	text-align:left;
	width:960px;
}
.pbox_khmyd2011 td{
	vertical-align:middle;
	padding:7px 0px 7px 8px;
}