@CHARSET "UTF-8";

body {
	background-color: #F2F2F2;
}

#main_body {
	margin: 0 auto;
	width: 780px;
}

#header,#footer {
	background-color: orange;
	width: 100%;
	height: 6px;	
}

#content {
	width: 100%;
}

#head_title {
	font-family: 微软雅黑;
	font-size: 200%;
	font-weight: bold;
	color: orange;
	text-align: center;
	margin: 30px 0 20px 0;
}

#head_line {
	width: 80%;
	height: 1px;
	margin: 10px auto;
	background-color: grey;
}

#main_content {
	margin: 10px auto;
}

.div_record {
	margin: 5px auto;
	height: 30px;
}

.div_label {
	float: left;
	width: 11%;
	font-family: 微软雅黑;
	font-size: 14px;
	font-weight: normal;
	text-align: left;
	line-height: 30px;
	padding-right: 20px;
}

.div_label1 {
	float: left;
	width: 23%;
	font-size: 14px;
	text-align: blue;
	line-height: 30px;
	padding-right: 20px;

}

.div_content {
	float: left;
	width: 20%;
	font-family: 微软雅黑;
	font-size: 14px;
	text-align: left;
	height: 30px;
	line-height: 30px;
}

.msg {
	float: left;
	width: 35%;
	font-size: 10px;
	font-weight: normal;
	text-align: left;
	height: 30px;
	line-height: 30px;
	color: red;
}

.promptmsg {
	float: left;
	width: 35%;
	font-size: 10px;
	font-weight: normal;
	text-align: left;
	height: 30px;
	line-height: 30px;
	color: red;
}

input,select {
	font-family: 微软雅黑;
	font-size: 14px;
}

select {
	width: 140px;
}

#regbutton {
	width: 60px;
	color: black;
	font-size: 13px;
	font-weight: normal;
	cursor: pointer;
}