@charset "utf-8";
.kk-catalog .flash-box .big-pic IMG {
	WIDTH: 315px; DISPLAY: block; HEIGHT: 227px
}

.kk-index .flash-box {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 9px; WIDTH: 450px; PADDING-RIGHT: 9px; MARGIN-BOTTOM: 8px;  HEIGHT: 251px; OVERFLOW: hidden; PADDING-TOP: 5px;
	
}
.kk-index .flash-box H2 {
	LINE-HEIGHT: 20px; WIDTH: 448px; MARGIN-BOTTOM: 1px; HEIGHT: 20px; COLOR: #193b5f; FONT-SIZE: 13px
}
.kk-index .flash-box .big-pic {
	WIDTH: 366px; FLOAT: left; HEIGHT: 250px; OVERFLOW: hidden; MARGIN-RIGHT: 2px
}

.kk-index .flash-box .big-pic IMG {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; WIDTH: 364px; DISPLAY: block; HEIGHT: 186px; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid
}
.kk-index .flash-box .pic-list {
	POSITION: relative; WIDTH: 91px; FLOAT: left; HEIGHT: 188px
}
.kk-index .flash-box .pic-list .pre {
	POSITION: absolute; WIDTH: 91px; BACKGROUND: url(http://misc.web.xunlei.com/www_5_1/img/sprite.png) no-repeat; HEIGHT: 11px; TOP: 0px; LEFT: 0px
}
.kk-index .flash-box .pic-list .next {
	POSITION: absolute; WIDTH: 91px; BACKGROUND: url(http://misc.web.xunlei.com/www_5_1/img/sprite.png) no-repeat; HEIGHT: 11px; TOP: 0px; LEFT: 0px
}
.kk-index .flash-box .pic-list .no-pre {
	POSITION: absolute; WIDTH: 91px; BACKGROUND: url(http://misc.web.xunlei.com/www_5_1/img/sprite.png) no-repeat; HEIGHT: 11px; TOP: 0px; LEFT: 0px
}
.kk-index .flash-box .pic-list .no-next {
	POSITION: absolute; WIDTH: 91px; BACKGROUND: url(http://misc.web.xunlei.com/www_5_1/img/sprite.png) no-repeat; HEIGHT: 11px; TOP: 0px; LEFT: 0px
}
.kk-index .flash-box .pic-list .pre {
	BACKGROUND-POSITION: -804px -108px
}
.kk-index .flash-box .pic-list .no-pre {
	BACKGROUND-POSITION: -852px -108px
}
.kk-index .flash-box .pic-list .next {
	BACKGROUND-POSITION: -804px -125px; TOP: 177px
}
.kk-index .flash-box .pic-list .no-next {
	BACKGROUND-POSITION: -852px -125px; TOP: 177px
}
.kk-index .flash-box .pic-list UL {
	POSITION: absolute; TOP: 0px; LEFT: 5px
}
.kk-index .flash-box .pic-list LI {
	WIDTH: 71px; MARGIN-BOTTOM: 2px; FLOAT: left; HEIGHT: 40px; OVERFLOW: hidden
}
.kk-index .flash-box .pic-list LI A {
	WIDTH: 71px; DISPLAY: block; HEIGHT: 40px; OVERFLOW: hidden
}
.kk-index .flash-box .pic-list LI A IMG {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; WIDTH: 71px; PADDING-RIGHT: 1px; DISPLAY: block; HEIGHT: 40px; PADDING-TOP: 1px
}
.kk-index .flash-box .pic-list LI A:hover {
	 WIDTH: 67px; HEIGHT: 36px;BORDER: #56aad8 0px solid
}
.kk-index .flash-box .pic-list LI A.currA {
	BORDER: #56aad8 0px solid; WIDTH: 67px; HEIGHT: 36px; 
}
.kk-index .flash-box .pic-list LI A:hover IMG {
	MARGIN: -2px
}
.kk-index .flash-box .pic-list LI A.currA IMG {
	MARGIN: -2px
}
.kk-index .flash-box .flash-txt {
	LINE-HEIGHT: 19px; HEIGHT: 38px; CLEAR: both; PADDING-TOP: 3px
}
.kk-index .flash-box .flash-txt H3 {
	HEIGHT: 19px; FONT-SIZE: 12px; OVERFLOW: hidden
}
.kk-index .flash-box .flash-txt EM {
	FONT: bold 14px Arial, Helvetica, sans-serif; COLOR: #ff5b01; MARGIN-LEFT: 8px
}
.kk-index .flash-box .flash-txt P {
	HEIGHT: 19px; COLOR: #939393; FONT-SIZE: 12px; OVERFLOW: hidden
}
.kk-catalog .flash-box { /*border:1px solid #eff2f9;background-color:#d9e3ef;*/ padding:3px 0px 0px 0px; width:319px; height:338px; overflow:hidden;
}
.kk-catalog .flash-box .big-pic {
	WIDTH: 319px; FLOAT: left; HEIGHT: 279px; OVERFLOW: hidden; /*background-color:#fff;*/
}
.kk-catalog .flash-box .big-pic IMG {
	WIDTH: 303px; DISPLAY: block; HEIGHT: 212px; margin:5px auto;
}
.kk-catalog .flash-box .pic-list {
	WIDTH: 316px; FLOAT: left; HEIGHT: 55px; OVERFLOW: hidden;padding-top:7px;padding-left:0px;
}
.kk-catalog .flash-box .pic-list LI {
	LINE-HEIGHT: 18px; WIDTH:76px; WHITE-SPACE: nowrap; MARGIN-BOTTOM:1px; FLOAT: left; HEIGHT:49px; OVERFLOW: hidden;margin-left:3px;
}
.kk-catalog .flash-box .pic-list LI A {
	POSITION: relative;DISPLAY: block; HEIGHT: 49px; COLOR: #7c7b7b; OVERFLOW: hidden; 
}
.kk-catalog .flash-box .pic-list LI A:hover {
	BACKGROUND: #f5f3f3; TEXT-DECORATION: none
}
.kk-catalog .flash-box .pic-list LI.currA A {
	BACKGROUND: #f5f3f3; TEXT-DECORATION: none
}
.kk-catalog .flash-box .pic-list LI STRONG {
	DISPLAY: block; COLOR: #4a4a4a
}
.kk-catalog .flash-box .pic-list IMG {
	POSITION: absolute;WIDTH: 79px; HEIGHT: 49px; TOP: 0px;  LEFT: 0px
}
.big-pic strong{ color:#e86918;}
.big-pic div.tit{height:44px; background:#e6f0f9; width:295px; margin-left:8px; padding:4px;}

.big-pic div.tit a:hover{text-decoration:underline;}