@CHARSET "UTF-8";

.pn-ftable {
	BACKGROUND-COLOR: none; MARGIN-TOP: 5px; border-top:1px solid #84adad;border-left:1px solid #b4cfcf; margin-bottom:10px; 
}
.pn-ftable td{border-bottom:1px solid #b4cfcf;border-right:1px solid #b4cfcf;

}
.pn-flabel {
	TEXT-ALIGN: right;  PADDING-RIGHT: 3px
}
.pn-flabel-h {
	HEIGHT: 27px; background-color:#e5f1fa; line-height:27px;
}
.pn-fcontent {
	PADDING-LEFT: 5px
}
.pn-fbutton {
	TEXT-ALIGN: center;
}
.pn-fhelp {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #747474; PADDING-TOP: 3px
}
.pn-frequired {
	COLOR: red
}
.pn-fruler {
	BACKGROUND: url(../img/admin/ruler.gif) repeat-x 1px 6px
}
.pn-ltable {
	BACKGROUND-COLOR:none; MARGIN: 5px auto 0px
}
.pn-lthead {
	
}
.pn-lthead TH {
	BACKGROUND-IMAGE: url(../img/theme/msg_bg.jpg); HEIGHT: 27px
}
.pn-ltbody {
	BACKGROUND-COLOR:none
}
.pn-ltbody TR {
	HEIGHT: 25px
}
.pn-lhover {
	BACKGROUND-COLOR:none
}
.pn-lselected {
	BACKGROUND-COLOR:none
}
.pn-lnoresult {
	BORDER-BOTTOM: #b4cfcf 1px solid; TEXT-ALIGN: center; BORDER-LEFT: #b4cfcf 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; COLOR: red; BORDER-TOP: #b4cfcf 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #b4cfcf 1px solid; PADDING-TOP: 10px
}
.pn-lbopt {
	BORDER: #b4cfcf 0px solid; MARGIN-TOP: 15px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px;PADDING-TOP: 5px
}
.pn-lbopt input{ background:url(../images/bt-bg.png) left top repeat-x; height:24px; border:1px solid #abc2e4; line-height:24px; padding:0px 8px; font-size:12px;}
.pn-lopt {
	TEXT-ALIGN: center
}
A.pn-loperator {
	TEXT-DECORATION: underline
}
A.pn-loperator:link {
	COLOR: #2366a8
}
A.pn-loperator:visited {
	COLOR: #2366a8
}
A.pn-loperator:hover {
	COLOR: #2366a8
}
A.pn-loperator:active {
	COLOR: #2366a8
}
.pn-sp {
	BACKGROUND-IMAGE: url(../img/theme/pbg.jpg); PADDING-BOTTOM: 1px; MARGIN: 3px auto 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 28px; PADDING-TOP: 1px
}
.pn-sp-left {
	PADDING-LEFT: 10px; WIDTH: 24%; FLOAT: left
}
.pn-sp-right {
	TEXT-ALIGN: center; WIDTH: 74%; FLOAT: left
}
.pn-tree {
	FONT-SIZE: 12px
}
.pn-tree * {
	WHITE-SPACE: nowrap; WORD-BREAK: keep-all
}
.pn-tree IMG {
	VERTICAL-ALIGN: middle
}
.pn-tree-hover {
	BACKGROUND-COLOR:none
}
.pn-tree-selected {
	BACKGROUND-COLOR:none
}
.pn-tree-checkbox {
	VERTICAL-ALIGN: middle
}
.page_row table{border-right:1px solid #87b1d2; border-top:1px solid #87b1d2;}
.page_row td{ border-left:1px solid #87b1d2; border-bottom:1px solid #87b1d2; line-height:25px;}
.page_row h3{ font-size:14px; line-height:28px;}
.page_row div.l{ margin:8px auto;}
td a.link{TEXT-DECORATION: underline;color:#376aa1;}
.link a{TEXT-DECORATION: underline;color:#376aa1;}